
// MINIPRINT PRINT PREVIEW IMAGE BUTTONS

HP_END		BITMAP	HP_END.BMP
HP_TOP		BITMAP	HP_TOP.BMP
HP_NEXT		BITMAP	HP_NEXT.BMP
HP_BACK		BITMAP	HP_BACK.BMP
HP_PRINT	BITMAP	HP_PRINT.BMP
HP_ZOOM		BITMAP	HP_ZOOM.BMP
HP_GOPAGE	BITMAP	HP_GOPAGE.BMP
HP_CLOSE	BITMAP	HP_CLOSE.BMP
HP_SAVE		BITMAP	HP_SAVE.BMP
HP_THUMBNAIL	BITMAP	hp_thumbnail.bmp
HP_GLASS	CURSOR	HP_GLASS.CUR


// MINIPRINT2 PRINT PREVIEW IMAGE BUTTONS

HP_END2         BITMAP  go_last_page_24.bmp
HP_TOP2         BITMAP  go_first_page_24.bmp
HP_NEXT2        BITMAP  go_next_page_24.bmp
HP_BACK2        BITMAP  go_previous_page_24.bmp
HP_PRINT2       BITMAP  print_24.bmp
HP_ZOOM2        BITMAP  Zoom_24.bmp
HP_GOPAGE2      BITMAP  go_to_page_24.bmp
HP_CLOSE2       BITMAP  Exit_24.bmp
HP_SAVE2        BITMAP  save_24.bmp
HP_THUMBNAIL2   BITMAP  ThumNails.bmp
