1 24 Windows7.Manifest

AMAINICON      ICON  res\hmg.ico

PROJECTNEW     ICON  res\ProjectNew.ico
PROJECTOPEN    ICON  res\ProjectOpen.ico
PROJECTCLOSE   ICON  res\ProjectClose.ico
PROJECTBLD     ICON  res\BuildBatch.ico
PROJECTBLD2    ICON  res\hbmk.ico

FORMNEW        ICON  res\FormNew.ico
MODULENEW      ICON  res\ModuleNew.ico

IMAGE          ICON  res\Image.ico
PANEL          ICON  res\Panel.ico
TAB            ICON  res\Tab.ico
TREE           ICON  res\Tree.ico

COLORIZE       ICON  res\colorize.ico
CONTROLCOPY    ICON  res\ControlCopy.ico
CONTROLDEL     ICON  res\ControlClear.ico
REPOSITION     ICON  res\Reposition.ico
CODEPREVIEW    ICON  res\CodePreview.ico
CONTROLORDER   ICON  res\ControlOrder.ico

BUILDAVI       AVI   res\building.avi

BITMAP1   BITMAP    res\DIALOG.BMP
BITMAP2   BITMAP    res\newproject.bmp
BITMAP3   BITMAP    res\openproject.bmp
BITMAP4   BITMAP    res\closeproject.bmp
BITMAP5   BITMAP    res\newform.bmp
BITMAP6   BITMAP    res\newmodule.bmp
BITMAP7   BITMAP    res\run.bmp
BITMAP8   BITMAP    res\selectobject.bmp
BITMAP9   BITMAP    res\button.bmp
BITMAP10  BITMAP    res\checkbox.bmp
BITMAP11  BITMAP    res\listbox.bmp
BITMAP12  BITMAP    res\combobox.bmp
BITMAP13  BITMAP    res\checkbutton.bmp
BITMAP14  BITMAP    res\grid.bmp
BITMAP15  BITMAP    res\slider.bmp
BITMAP16  BITMAP    res\spinner.bmp
BITMAP17  BITMAP    res\image.bmp
BITMAP18  BITMAP    res\tree.bmp
BITMAP19  BITMAP    res\datepicker.bmp
BITMAP20  BITMAP    res\textbox.bmp
BITMAP21  BITMAP    res\editbox.bmp
BITMAP22  BITMAP    res\label.bmp
BITMAP23  BITMAP    res\browse.bmp
BITMAP24  BITMAP    res\radiogroup.bmp
BITMAP25  BITMAP    res\frame.bmp
BITMAP26  BITMAP    res\tab.bmp
BITMAP27  BITMAP    res\animatebox.bmp
BITMAP28  BITMAP    res\hyperlink.bmp
BITMAP29  BITMAP    res\monthcalendar.bmp
BITMAP30  BITMAP    res\richeditbox.bmp
BITMAP31  BITMAP    res\progressbar.bmp
BITMAP32  BITMAP    res\player.bmp
BITMAP33  BITMAP    res\ipaddress.bmp
BITMAP34  BITMAP    res\timer.bmp
BITMAP35  BITMAP    res\deletecontrol.bmp
BITMAP36  BITMAP    res\controlorder.bmp
BITMAP37  BITMAP    res\mainmenubuilder.bmp
BITMAP38  BITMAP    res\contextmenubuilder.bmp
BITMAP39  BITMAP    res\statusbarbuilder.bmp
BITMAP40  BITMAP    res\toolbarbuilder.bmp
BITMAP41  BITMAP    res\notifymenubuilder.bmp
BITMAP42  BITMAP    res\dropdownmenubuilder.bmp
BITMAP43  BITMAP    res\arrow1.bmp
BITMAP44  BITMAP    res\arrow2.bmp
BITMAP45  BITMAP    res\arrow3.bmp
BITMAP46  BITMAP    res\arrow4.bmp
BITMAP47  BITMAP    res\MONTHCAL01.BMP
BITMAP48  BITMAP    res\HMGLOGO.BMP
BITMAP49  BITMAP    res\PLAYER1.BMP
BITMAP50  BITMAP    res\RADIO.BMP
BITMAP51  BITMAP    res\OK.BMP
BITMAP52  BITMAP    res\BR0.BMP
BITMAP53  BITMAP    res\BR1.BMP
BITMAP54  BITMAP    res\BR2.BMP
BITMAP55  BITMAP    res\HELP.BMP
BITMAP56  BITMAP    res\EDIT.BMP
BITMAP57  BITMAP    res\COLORS.BMP
BITMAP58  BITMAP    res\TEXTBTN.BMP
BITMAP59  BITMAP    res\ACTIVEX.BMP
BITMAP60  BITMAP    res\HBMK2S.bmp
BITMAP61  BITMAP    res\copy.bmp
BITMAP63  BITMAP    res\PANEL.BMP
BITMAP64  BITMAP    res\PANEL2.BMP

NEW       BITMAP    menu\new.bmp
OPEN      BITMAP    menu\open.bmp
CLOSE     BITMAP    menu\close.bmp
SAVE      BITMAP    menu\save.bmp
EXIT      BITMAP    menu\exit.bmp

DELETE    BITMAP    menu\delete.bmp

VIEW      BITMAP    menu\view.bmp

RUN       BITMAP    menu\run.bmp
NEWFORM   BITMAP    menu\newform.bmp
NMODULE   BITMAP    menu\nmodule.bmp

HELPBMP   BITMAP    menu\help.bmp

PREFERENCES BITMAP  menu\preferences.bmp

1 VERSIONINFO
FILEVERSION 1,3,0,0
PRODUCTVERSION 1,3,0,0
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
   BLOCK "040904b0"
   {
      VALUE "FileDescription", "HMGS - MiniGUI - IDE\000"
      VALUE "FileVersion", "1.3.0.0"
      VALUE "InternalName", "HmgsIde\000"
      VALUE "LegalCopyright", "Copyright © 2005-2015 Walter Formigoni\000"
      VALUE "LegalTrademarks", "Harbour"
      VALUE "OriginalFilename", "ide.exe"
      VALUE "CompanyName", "Open Source Project\000"
      VALUE "ProductName", "MiniGUI Utility\000"
      VALUE "ProductVersion", "1.3.0.0"
      VALUE "Comments", "http://sourceforge.net/projects/hmgs-minigui\000"
   }
}

BLOCK "VarFileInfo"
{
   VALUE "Translation", 0x0409, 0x04B0
}
}
