ACEPTAR16 BITMAP "RESOURCE\ACEPTAR16.bmp"

ANIO16 BITMAP "RESOURCE\ANIO16.bmp"

ANULAR16 BITMAP "RESOURCE\ANULAR16.bmp"

BUSCAR16 BITMAP "RESOURCE\BUSCAR16.bmp"

CALC16 BITMAP "RESOURCE\CALC16.bmp"

CANCELAR16 BITMAP "RESOURCE\CANCELAR16.bmp"

CARPETA16 BITMAP "RESOURCE\CARPETA16.bmp"

CARPETABUSCAR16 BITMAP "RESOURCE\CARPETABUSCAR16.bmp"

CONECTADO16 BITMAP "RESOURCE\CONECTADO16.bmp"

CONECTAR16 BITMAP "RESOURCE\CONECTAR16.bmp"

CONSULTA16 BITMAP "RESOURCE\CONSULTA16.bmp"

CONTA16 BITMAP "RESOURCE\CONTA16.bmp"

CONTA216 BITMAP "RESOURCE\CONTA216.bmp"

DESCONECTADO16 BITMAP "RESOURCE\DESCONECTADO16.bmp"

DESGLOSE16 BITMAP "RESOURCE\DESGLOSE16.bmp"

DESGLOSE216 BITMAP "RESOURCE\DESGLOSE216.bmp"

DESHACER16 BITMAP "RESOURCE\DESHACER16.bmp"

DOWN16 BITMAP "RESOURCE\DOWN16.bmp"

EDITAR16 BITMAP "RESOURCE\EDITAR16.bmp"

ELIMINAR16 BITMAP "RESOURCE\ELIMINAR16.bmp"

GAS16 BITMAP "RESOURCE\GAS16.bmp"

GENERAR16 BITMAP "RESOURCE\GENERAR16.bmp"

GRP016 BITMAP "RESOURCE\GRP016.bmp"

GRP116 BITMAP "RESOURCE\GRP116.bmp"

GUARDAR16 BITMAP "RESOURCE\GUARDAR16.bmp"

LEFT16 BITMAP "RESOURCE\LEFT16.bmp"

LISTA16 BITMAP "RESOURCE\LISTA16.bmp"

LOCK16 BITMAP "RESOURCE\LOCK16.bmp"

MASCARA16 BITMAP "RESOURCE\MASCARA16.bmp"

MES16 BITMAP "RESOURCE\MES16.bmp"

MESDOWN16 BITMAP "RESOURCE\MESDOWN16.bmp"

MESUP16 BITMAP "RESOURCE\MESUP16.bmp"

MONEDA16 BITMAP "RESOURCE\MONEDA16.bmp"

MULTIPLE16 BITMAP "RESOURCE\MULTIPLE16.bmp"

NO16 BITMAP "RESOURCE\NO16.bmp"

NUEVO16 BITMAP "RESOURCE\NUEVO16.bmp"

OTROS16 BITMAP "RESOURCE\OTROS16.bmp"

PRINT16 BITMAP "RESOURCE\PRINT16.bmp"

RAIZ16 BITMAP "RESOURCE\RAIZ16.bmp"

RESTA16 BITMAP "RESOURCE\RESTA16.bmp"

RETORNAR16 BITMAP "RESOURCE\RETORNAR16.bmp"

RIGHT16 BITMAP "RESOURCE\RIGHT16.bmp"

SI16 BITMAP "RESOURCE\SI16.bmp"

SUMA16 BITMAP "RESOURCE\SUMA16.bmp"

TITULO16 BITMAP "RESOURCE\TITULO16.bmp"

UNLOCK16 BITMAP "RESOURCE\UNLOCK16.bmp"

UP16 BITMAP "RESOURCE\UP16.bmp"

VACIO16 BITMAP "RESOURCE\VACIO16.bmp"
