DEMOIMAGE JPG "RESOURCE\DEMOIMAGE.jpg"

ABRIR BITMAP "RESOURCE\ABRIR.bmp"

ACEPTAR16 BITMAP "RESOURCE\ACEPTAR16.bmp"

ADD BITMAP "RESOURCE\ADD.bmp"

ANIO16 BITMAP "RESOURCE\ANIO16.bmp"

ANULAR16 BITMAP "RESOURCE\ANULAR16.bmp"

BDOWN BITMAP "RESOURCE\BTN_DOWN.bmp"

BLEFT BITMAP "RESOURCE\BTN_LEFT.bmp"

BORRAR BITMAP "RESOURCE\BORRAR.bmp"

BOTON BITMAP "RESOURCE\BOTON.bmp"

BOTONS BITMAP "RESOURCE\BOTONS.bmp"

BRIGHT BITMAP "RESOURCE\BTN_RIGHT.bmp"

BUP BITMAP "RESOURCE\BTN_UP.bmp"

BUSCAR16 BITMAP "RESOURCE\BUSCAR16.bmp"

CALC16 BITMAP "RESOURCE\CALC16.bmp"

CANCELAR16 BITMAP "RESOURCE\CANCELAR16.bmp"

CARPETA16 BITMAP "RESOURCE\CARPETA16.bmp"

CARPETABUSCAR16 BITMAP "RESOURCE\CARPETABUSCAR16.bmp"

CHKBOX BITMAP "RESOURCE\CHKBOX.bmp"

CHKBUTON BITMAP "RESOURCE\CHKBUTON.bmp"

COMBO BITMAP "RESOURCE\COMBO.bmp"

CONECTADO16 BITMAP "RESOURCE\CONECTADO16.bmp"

CONECTAR16 BITMAP "RESOURCE\CONECTAR16.bmp"

CONSULTA16 BITMAP "RESOURCE\CONSULTA16.bmp"

CONTA16 BITMAP "RESOURCE\CONTA16.bmp"

CONTA216 BITMAP "RESOURCE\CONTA216.bmp"

COPIAR BITMAP "RESOURCE\COPIAR.bmp"

CUADRICULA BITMAP "RESOURCE\CUADRICULA.bmp"

DATEPICKER BITMAP "RESOURCE\DATEPICKER.bmp"

DESCONECTADO16 BITMAP "RESOURCE\DESCONECTADO16.bmp"

DESGLOSE16 BITMAP "RESOURCE\DESGLOSE16.bmp"

DESGLOSE216 BITMAP "RESOURCE\DESGLOSE216.bmp"

DESHACER BITMAP "RESOURCE\DESHACER.bmp"

DESHACER16 BITMAP "RESOURCE\DESHACER16.bmp"

DOWN16 BITMAP "RESOURCE\DOWN16.bmp"

EDITAR16 BITMAP "RESOURCE\EDITAR16.bmp"

EDITBOX BITMAP "RESOURCE\EDITBOX.bmp"

ELIMINAR16 BITMAP "RESOURCE\ELIMINAR16.bmp"

FORMULARIO BITMAP "RESOURCE\FORMULARIO.bmp"

FRAME BITMAP "RESOURCE\FRAME.bmp"

GAS16 BITMAP "RESOURCE\GAS16.bmp"

GENERAR16 BITMAP "RESOURCE\GENERAR16.bmp"

GETBOX BITMAP "RESOURCE\GETBOX.bmp"

GRID BITMAP "RESOURCE\GRID.bmp"

GRP016 BITMAP "RESOURCE\GRP016.bmp"

GRP116 BITMAP "RESOURCE\GRP116.bmp"

GUARDAR BITMAP "RESOURCE\GUARDAR.bmp"

GUARDAR16 BITMAP "RESOURCE\GUARDAR16.bmp"

GUARDARB BITMAP "RESOURCE\GUARDARB.bmp"

HYPERLINK BITMAP "RESOURCE\HYPERLINK.bmp"

IMAGE BITMAP "RESOURCE\IMAGE.bmp"

IMAN BITMAP "RESOURCE\IMAN.bmp"

LABEL BITMAP "RESOURCE\LABEL.bmp"

LEFT16 BITMAP "RESOURCE\LEFT16.bmp"

LISTA16 BITMAP "RESOURCE\LISTA16.bmp"

LISTBOX BITMAP "RESOURCE\LISTBOX.bmp"

LOCK16 BITMAP "RESOURCE\LOCK16.bmp"

MASCARA16 BITMAP "RESOURCE\MASCARA16.bmp"

MES16 BITMAP "RESOURCE\MES16.bmp"

MESDOWN16 BITMAP "RESOURCE\MESDOWN16.bmp"

MESUP16 BITMAP "RESOURCE\MESUP16.bmp"

MONEDA16 BITMAP "RESOURCE\MONEDA16.bmp"

MOVE BITMAP "RESOURCE\MOVE.bmp"

MULTIPLE16 BITMAP "RESOURCE\MULTIPLE16.bmp"

NO16 BITMAP "RESOURCE\NO16.bmp"

NUEVO BITMAP "RESOURCE\NUEVO.bmp"

NUEVO16 BITMAP "RESOURCE\NUEVO16.bmp"

OTROS16 BITMAP "RESOURCE\OTROS16.bmp"

PEGAR BITMAP "RESOURCE\PEGAR.bmp"

PLAY BITMAP "RESOURCE\PLAY.bmp"

PRINT16 BITMAP "RESOURCE\PRINT16.bmp"

PROGRES BITMAP "RESOURCE\PROGRES.bmp"

RADIOGRP BITMAP "RESOURCE\RADIOGRP.bmp"

RAIZ16 BITMAP "RESOURCE\RAIZ16.bmp"

RESTA16 BITMAP "RESOURCE\RESTA16.bmp"

RETORNAR16 BITMAP "RESOURCE\RETORNAR16.bmp"

RIGHT16 BITMAP "RESOURCE\RIGHT16.bmp"

SELECT BITMAP "RESOURCE\SELECT.bmp"

SI16 BITMAP "RESOURCE\SI16.bmp"

SIZE BITMAP "RESOURCE\SIZE.bmp"

SPINNER BITMAP "RESOURCE\SPINNER.bmp"

SUMA16 BITMAP "RESOURCE\SUMA16.bmp"

TIMER BITMAP "RESOURCE\TIMER.bmp"

TITULO16 BITMAP "RESOURCE\TITULO16.bmp"

TREE BITMAP "RESOURCE\TREE.bmp"

TSBROWSE BITMAP "RESOURCE\TSBROWSE.bmp"

UNLOCK16 BITMAP "RESOURCE\UNLOCK16.bmp"

UP16 BITMAP "RESOURCE\UP16.bmp"

VACIO16 BITMAP "RESOURCE\VACIO16.bmp"

AICON ICON "RESOURCE\xforma.ico"

XFORMA2 ICON "RESOURCE\xforma2.ico"
